/* 定义基础缩进单位 */
:root {
  --indent-base: 15px; /* 默认缩进值 */
  font-family: "test";
}
@font-face {
  font-family: "test";
  src: url("https://cdn.jsdelivr.net/gh/bgvioletsky/anki@0.0.1/font/bgcode.woff2")
      format("woff2"),
    url("https://cdn.jsdelivr.net/gh/bgvioletsky/anki@0.0.1/font/bgcode.woff")
      format("woff");
}

/* 响应式设计：使用媒体查询调整基础缩进值 */
@media (max-width: 599px) {
  :root {
    --indent-base: 10px; /* 小屏幕设备 */
  }
}

@media (min-width: 1024px) {
  :root {
    --indent-base: 20px; /* 大屏幕设备 */
  }
}

* {
  font-family: "test";
  color: black;
  background-color: aliceblue;
  margin: 0;
  padding: 0;
}
.container {
  font-family: "test";
  margin: 3rem 2rem;
  height: 80vh;
  display: flex;
  flex-direction: column;
  /* border: 1px solid green; */
  /* background-color: aqua; */
  /* border-radius: 2rem; */
  /* padding: 2rem; */
}
.head {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
#time {
  background-color: azure;
  border-radius: 2rem;
  margin: 1rem;
}
.djs {
  font-size: 0.8rem;
  color: #888;
}
.time-container{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem;
  border-radius: 1rem;
  box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.3);
}
.time-unit {
  text-align: center;
  margin: 0 0.2rem;
}

.time-number {
  font-size: 1rem;
  font-weight: bold;
  color: #2c7ad6;
}

.time-label {
  font-size: 0.8rem;
  color: #888;
}
.time-number.seconds {
  color: #e67e22;
}
#deck-info{
  background-color: azure;
  border-radius: 2rem;
  margin: 1rem;
}
.deck-info-text{
  font-size: 0.8rem;
  color: #888;
}
.deck-container{
   display: flex;
  flex-direction:row;
  align-items: center;
  justify-content: space-between;
  padding: 0.6rem;
  border-radius: 0.8rem;
  box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.3);
}
.kz0{
  font-size: 0.8rem;
  color: #2c7ad6;
}
.kz1{
  font-size: 0.7rem;
  margin:0  0 0 0.3rem;
  color: #2c7ad6;
}
.kz2{
  font-size: 0.6rem;
  margin:0  0 0 0.3rem;
  color: #e67e22;
}
.kz2{
  font-size: 0.6rem;
  margin:0  0 0 0.3rem;
  color: #e67e22;
}
.js{
  font-size: 1.4rem;
  color: #2c7ad6;
}
.content{
  /* background-color: aqua; */
  height: 80vh;

}
.timu {
  margin: 1rem 1rem 0rem 1rem;
  padding: 0.3rem 0.5rem;
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 0.65rem;
  text-align: left;
  font-size:1.3rem
}